.products {
  &__item {
    border: 2px solid transparent;
    border-radius: 9px;

    &:hover {
      border-color: var(--color-primary);

      .products__image {
        transform: scale(1.1);
      }
    }
  }
}
