input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  background: var(--color-secondary-dark);
  border-radius: 32px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 6px;
  margin-top: -5px;
  background: var(--color-primary);
  cursor: pointer;
  border: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--color-secondary-dark);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  background: var(--color-secondary-dark);
  border-radius: 32px;
}
input[type="range"]::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 6px;
  background: var(--color-primary);
  cursor: pointer;
  border: none;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--color-secondary-dark);
  border-radius: 32px;
}
input[type="range"]::-ms-fill-upper {
  background: var(--color-secondary-dark);
  border-radius: 32px;
}
input[type="range"]::-ms-thumb {
  height: 17px;
  width: 17px;
  border-radius: 6px;
  background: var(--color-primary);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--color-secondary-dark);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--color-secondary-dark);
}
