:root {
  $font-bebas: "Bebas Neue", sans-serif;
  $font-familjen: "Familjen Grotesk", sans-serif;
  $font-gordeziani: "GL Gordeziani", sans-serif;
  $font-mkafio: "GL Mkafio", sans-serif;

  --font-default: #{$font-bebas};
  --font-secondary: #{$font-mkafio};
  --font-details: #{$font-familjen};

  --color-primary: #e4aa53;
  --color-primary-dark: #1c1c22;
  --color-primary-darker: #17171c;
  --color-primary-light: #707070;
  --color-primary-lighter: #d7d7d7;
  --color-secondary-dark: #353535;
  --color-secondary-darker: hsl(240, 10%, 16%);

  --color-body: white;
  --color-details: var(--color-primary-dark);
  --color-backgrounds: var(--color-primary-dark);
  --color-details-disabled: var(--color-primary-light);
  --color-details-dark-bg: white;

  --slider-image-opacity: 0;
  --slider-counter-opacity: 1;

  --textarea-border-color: #d8d8d8;
  --textarea-down-bg-color: #fdfbec;
}
