$default-primary-base-color: #E4AA53;
$default-primary-dark-color: #222222;
$default-primary-light-color: #D7D7D7;
$default-secondary-dark-color: rgb(29, 29, 29);
$font-bebas: 'Bebas Neue', sans-serif;
$font-familjen: 'Familjen Grotesk', sans-serif;
$font-gordeziani: 'GL Gordeziani', sans-serif;
$font-mkafio: 'GL Mkafio', sans-serif;