.slider-pagination {
  display: flex;
  gap: 0.5rem;

  img {
    width: 3.75rem;
    height: 3.75rem;

    border-radius: 0.32rem;
    border: 0.125rem solid transparent;
    cursor: pointer;

    transition: 0.4s;
    opacity: var(--slider-counter-opacity);

    &:hover,
    &.active {
      border-color: var(--color-primary);
      opacity: 1;
    }
  }
}
