.companies {
  .carousel-content-item {
    background: var(--color-backgrounds);

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    img {
      width: auto;
      height: auto;
    }
  }
}