.creators {
  &__item {
    border: 2px solid transparent;

    &:hover {
      border-color: var(--color-primary);

      .creators__image {
        transform: scale(1.2);
      }
    }
  }

  &__link {
    background: var(--color-backgrounds);
  }

  &__image {
    max-width: 8.75rem;
    max-height: 4.5rem;
    width: auto;
    height: auto;
  }
}
