.Carousel {
    overflow: hidden;

    &-Inner {
      height: 100%;
      display: flex;
    }

    &-Item {
      border-radius: 6px;
      margin-right: 10px;
      flex-shrink: 0;
      overflow: hidden;

      a {
        pointer-events: none;
      }
    }
  }