.inner-slider {
  height: 685px;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );

  margin: -32px 0 0;
  position: relative;

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;

    &--active {
      display: block;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 45px;
  }

  &__icon {
    width: 70px;
    height: 50px;
    cursor: pointer;
    &:hover {
      filter: invert(0.05);
    }
  }
}
