@forward "abstract/fonts";
@forward "abstract/reset";
@forward "abstract/variables";
@forward "abstract/inputs";

body {
  .app {
    font-family: var(--font-default);
    color: var(--color-details);
    background: var(--color-body);
  }

  .dark {
    --color-body: var(--color-primary-dark);
    --color-backgrounds: var(--color-primary-darker);
    --color-details: var(--color-primary-lighter);
    --color-details-dark-bg: var(--color-primary-lighter);

    --slider-image-opacity: 0.4;
    --slider-counter-opacity: 0.75;

    --textarea-border-color: var(--color-primary-light);
    --textarea-down-bg-color: var(--color-secondary-darker);
  }

  .main {
    padding: 2rem 0;
  }

  .container {
    max-width: 84rem;
    margin: 0 auto;
  }

  .section {
    margin-top: 2rem;

    &__header {
      margin-bottom: 1.25rem;
    }

    &__title {
      font-size: 2rem;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.63rem;
    height: 2.63rem;
    border-radius: 50%;

    background: var(--color-primary);
    color: #fff;

    opacity: 0.4;
    transition: 0.4s;

    svg {
      font-size: 1.4rem;
    }

    &:hover {
      opacity: 1;
      transform: scale(0.9);
    }
  }

  .primary-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-primary);
    color: #fff;

    border-radius: 0.38rem;
    opacity: 0.9;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  .mini-buttons {
    display: flex;
    gap: 0.5rem;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 3.44rem;
      height: 1.56rem;
      background: var(--color-secondary-dark);

      font: 1.06rem var(--font-details);
      color: var(--color-primary-lighter);
      border-radius: 0.38rem;
    }

    .active {
      background: var(--color-primary);
      color: #fff;
    }
  }
}
