@import "./abstract/reset";
@import "./abstract/fonts";
@import "./abstract/variables";
@import "./abstract/inputs";

body {
  .App {
    font-family: var(--font-default);
    color: var(--color-details);
    background: var(--color-body);
  }

  .dark {
    --color-body: var(--color-primary-dark);
    --color-backgrounds: var(--color-primary-darker);
    --color-details: var(--color-primary-lighter);
    --color-details-dark-bg: var(--color-primary-lighter);

    --slider-image-opacity: 0.4;
    --slider-counter-opacity: 0.75;

    --textarea-border-color: var(--color-primary-light);
    --textarea-down-bg-color: var(--color-secondary-darker);
  }

  .main {
    padding: 32px 0;
  }

  .container {
    max-width: 1350px;
    margin: 0 auto;
  }

  .section {
    margin-top: 32px;

    &__header {
      margin-bottom: 20px;
    }

    &__title {
      font-size: 32px;
    }
  }

  .icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background: var(--color-primary);
    opacity: 0.6;
    transition: 0.4s;

    svg {
      font-size: 22px;
    }

    &:hover {
      opacity: 1;
      transform: scale(0.9);
    }
  }

  .primary-button {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background: var(--color-primary);
    border-radius: 6px;
    opacity: 0.9;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  .mini-buttons {
    display: flex;
    gap: 8px;

    button {
      font: 17px var(--font-details);
      width: 55px;
      height: 25px;
      border-radius: 6px;

      display: flex;
      justify-content: center;
      align-items: center;

      color: var(--color-primary-lighter);
      background: var(--color-secondary-dark);
    }
    .active {
      color: white;
      background: var(--color-primary);
    }
  }
}
