.Header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
  }

  &-Right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;

    & > img {
      width: 52px;
      height: 52px;

      cursor: pointer;
      opacity: .4;
      transition: .6s;

      &:hover {
        opacity: 1;
      }
    }
  }
}