.header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3em;
  }
}
