.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1.5rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
  }
}
