.filter {
  &__toggle {
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 0 0.4rem 0.4rem 0;

    background: var(--color-backgrounds);
    color: #fff;

    position: fixed;
    left: -0.5rem;
    top: 12%;
    z-index: 2;

    transition: 0.4s;
    opacity: 0.8;

    svg {
      font-size: 2.5rem;
    }

    &:hover {
      left: 0;
      opacity: 1;
    }
  }

  &__content {
    width: 21.5rem;
    height: 80vh;
    max-height: 45rem;
    padding: 1.55rem;

    font-family: var(--font-details);
    background: var(--color-backgrounds);

    position: fixed;
    left: -21.5rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);

    overflow-y: auto;
    border-radius: 0 0.4rem 0.4rem 0;
    transition: 0.4s;

    &.active {
      left: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 9.5rem;
    height: 2rem;
  }

  &__close {
    transform: scale(0.7);
    opacity: 0.9;

    &:hover {
      transform: scale(0.75);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 0 0.65rem;

    font-size: 1.25rem;
    color: var(--color-details-dark-bg);
  }

  &__select {
    text-transform: capitalize;
  }

  &__submit {
    height: 3.25rem;
    font-size: 1.25rem;
    transition: 0.3s;
    margin-top: 6rem;

    &:hover {
      transform: scale(1.01);
    }
  }

  &__auth {
    margin-top: 1.3rem;
    display: flex;
    gap: 0.6rem;
  }

  &__login,
  &__signup {
    width: 50%;
    padding: 0.75rem 0;
    border-radius: 0.4rem;
    transition: 0.3s;

    font: 1.05rem var(--font-details);
    color: #fff;

    &:first-child {
      background: var(--color-secondary-dark);
      color: var(--color-primary-lighter);
    }

    &:hover {
      transform: scale(1.02);
    }
  }
}
