.filter {
  &__toggle {
    width: 4.69rem;
    height: 4.69rem;
    border-radius: 0 0.38rem 0.38rem 0;

    background: var(--color-backgrounds);
    color: #fff;

    position: fixed;
    top: 12%;
    left: -0.625rem;
    z-index: 10;

    transition: 0.4s;
    opacity: 0.8;

    svg {
      font-size: 2.5rem;
    }

    &:hover {
      left: 0;
      opacity: 1;
    }
  }

  &__content {
    width: 21.25rem;
    height: 80vh;
    min-height: 36rem;
    padding: 1.56rem;

    font-family: var(--font-details);
    background: var(--color-backgrounds);

    position: fixed;
    top: 50%;
    left: -21.25rem;
    z-index: 10;
    transform: translateY(-50%);

    border-radius: 0 0.38rem 0.38rem 0;
    transition: 0.4s;

    &.active {
      left: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 9.38rem;
    height: 1.88rem;
  }

  &__close {
    transform: scale(0.8);
  }

  &__form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 0 0.63rem;

    font-size: 1.25rem;
    color: var(--color-details-dark-bg);
  }

  &__select {
    text-transform: capitalize;
  }

  &__submit {
    height: 3.25rem;
    font-size: 1.25rem;
    transition: 0.3s;
    margin-top: 7.5rem;

    &:hover {
      transform: scale(1.01);
    }
  }

  &__auth {
    margin-top: 1.3rem;
    display: flex;
    gap: 0.6rem;
  }

  &__login,
  &__signup {
    color: #fff;
    width: 50%;
    padding: 0.75rem 0;
    border-radius: 0.4rem;
    transition: 0.3s;

    font: 1.06rem var(--font-details);

    &:first-child {
      background: var(--color-secondary-dark);
      color: var(--color-primary-lighter);
    }

    &:hover {
      transform: scale(1.02);
    }
  }
}
