.filter {
  font-family: var(--font-details);

  &-toggle {
    width: 75px;
    height: 75px;
    border-radius: 0 6px 6px 0;

    color: white;
    background: var(--color-backgrounds);

    position: fixed;
    top: 12%;
    left: -10px;
    opacity: .8;
    transition: .4s;
    z-index: 10;

    svg {
      font-size: 40px;
    }

    &:hover {
      left: 0;
      opacity: 1;
    }
  }

  &-content {
    width: 340px;
    min-height: 470px;
    height: 80vh;
    padding: 25px 25px 50px 25px;
    border-radius: 0 6px 6px 0;
    background: var(--color-backgrounds);

    position: fixed;
    top: 50%;
    left: -340px;
    z-index: 10;
    transform: translateY(-50%);
    transition: .4s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-top {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          width: 150px;
          height: 30px;
        }

        .icon {
          width: 34px;
          height: 34px;
        }
      }
    }

    &-section {
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        h4, small {
          color: var(--color-details-dark-bg);
          font-size: 22px;
        }
      }
    }

    &-select {
      text-transform: capitalize;
    }

    &-button {
      font-size: 22px;
      height: 52px;
    }
  }

  &-active {
    .filter-content {
      left: 0;
    }
    .filter-toggle {
      display: none;
    }
  }
}