.slider {
  width: 100%;
  height: 500px;
  position: relative;
  margin: -32px 0 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &-buttons {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    button {
      opacity: .7;
      transition: .1s;

      svg {
        font-size: 80px;
        color: var(--slider-details-color);
      }

      &:hover {
        opacity: 1;
      }
    }

    .left {
      margin-left: -25px;
    }

    .right {
      margin-right: -25px;
    }
  }

  &-posters {
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: black;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      opacity: var(--slider-poster-opacity);
    }

    height: 100%;
    display: flex;
    overflow: hidden;

    img {
      flex-shrink: 0;
      display: none;
    }

    .active {
      display: block;
    }
  }

  &-bottom {
    width: 100%;
    position: absolute;
    bottom: 40px;
  }

  &-counter {
    display: flex;
    gap: .5em;

    img {
      width: 60px;
      height: 60px;
      border-radius: 5px;

      opacity: var(--slider-counter-opacity);
      border: 2px solid transparent;
      transition: .6s;
      cursor: pointer;

      &:hover {
        border-color: var(--color-primary);
        transition: .1s;
        opacity: 1;
      }
    }

    .active {
      border-color: var(--color-primary);
      opacity: 1;
    }
  }

  &-title {
    a {
      display: none;
      align-items: baseline;

      h3 {
        font-size: 45px;
        margin-right: 6px;
        color: var(--slider-details-color);
      }

      h4 {
        font-size: 33px;
        color: var(--color-primary);
      }
    }

    .active {
      display: flex;
    }
  }
}