@use "style/abstract/mixins" as mix;

.slider {
  width: 100%;
  height: 31.25rem;
  position: relative;
  margin-top: -2rem;

  .container {
    position: relative;
    height: 100%;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2.5rem;

    @include mix.mobile {
      bottom: 1.5rem;
      flex-direction: column;
    }
  }
}
