.slider {
  width: 100%;
  height: 500px;
  position: relative;
  margin: -32px 0 0;

  .container {
    position: relative;
    height: 100%;
  }
  
  &__footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
  }
}
