.Footer {
  font-size: 24px;
  padding: 25px 0;
  color: var(--primary-light-color);
  background-color: var(--secondary-background-color);

  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}