.companies {
  .carousel-content-item {
    border: 2px solid transparent;

    a {
      background: var(--color-backgrounds);
    }

    &:hover {
      border-color: var(--color-primary);

      img {
        transform: scale(1.2);
      }
    }

    img {
      width: auto;
      height: auto;
    }
  }
}