.companies {
  &__item {
    border: 2px solid transparent;

    &:hover {
      border-color: var(--color-primary);

      .companies__image {
        transform: scale(1.2);
      }
    }
  }

  &__link {
    background: linear-gradient(
      109.6deg,
      rgb(86, 108, 139) 11.2%,
      rgb(35, 71, 109) 51.2%,
      rgb(21, 42, 65),
    );
  }

  &__image {
    width: auto;
    height: auto;
  }
}
