.SectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &-Title {
    font-size: 32px;
  }

  &-Buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 23px;
    margin-right: 10px;

    button:hover {
      img {
        filter: invert(.4);
      }
    }
  }
}