.details {
  font-family: var(--font-details);

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 0 28px;

  aside {
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  header {
    position: relative;
    margin-bottom: 10px;
  }

  main {
    section {
      margin-bottom: 19px;
    }
  }

  footer {
    align-self: end;
    padding: 20px;
    border-radius: 6px;
    color: var(--color-details-dark-bg);
    background: var(--color-backgrounds);
  }

  /* Aside */
  &__picture {
    width: 285px;
    height: 415px;
    border-radius: 6px;
  }

  &__download {
    font: 23px var(--font-details);
    height: 50px;
  }

  /* Header */
  &__heading {
    font-family: var(--font-default);

    span {
      font-size: 27px;
      margin-left: 6px;
      color: var(--color-primary);
    }

    &--big {
      font-size: 40px;
    }

    &--small {
      font-size: 25px;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;

    svg {
      font-size: 96px;
    }
  }

  /* Main */
  &__paragraph {
    font-size: 18px;
  }

  &__list {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;

    span {
      font-size: 18px;
      margin-left: 4px;
      color: var(--color-details);
    }

    &--secondary {
      height: 65px;
      display: none;
      flex-wrap: wrap;
      gap: 2px;

      li {
        width: 50%;
        white-space: nowrap;
        color: var(--color-primary);
      }
    }

    &--active {
      display: flex;
    }
  }

  /* Helper Classes */
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__comma {
    &:last-child {
      &::after {
        content: "";
      }
    }

    &::after {
      content: ",";
    }
  }

  &__vertical-bar {
    text-transform: uppercase;

    &:last-child {
      &::after {
        content: "";
      }
    }

    &::after {
      content: " | ";
    }
  }
}
