.details {
  display: flex;
  gap: 28px;

  /* default styles for any section */
  &-section {
    font-family: var(--font-details);
    margin-bottom: 19px;

    h3 {
      font: 25px var(--font-default);
    }

    p {
      font-size: 18px;
    }

    small {
      font-size: 20px;
    }

    span {
      font-size: 18px;
    }
  }

  /* left side - image and download */
  &-left {
    display: flex;
    flex-direction: column;
    gap: 9px;
    
    img {
      width: 285px;
      height: 415px;
      border-radius: 6px;
    }
  }

  /* right side divided by 2 parts - title, info, desc & specs */
  &-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }

  /* section of right side - game title */
  &-title {
    display: flex;
    align-items: baseline;
    gap: 6px;
    margin-bottom: 10px;
    
    h2 {
      font-size: 40px;
    }

    small {
      font-size: 27px;
      color: var(--color-primary);
    }
  }

  /* section of right side - game information */
  &-info {
    text-transform: capitalize;

    li:first-child {
      span {
        &:last-child {
          &::after {
            content: '';
          }
        }

        &::after {
          content: ',';
        }
      }
    }

    li:nth-child(3),
    li:nth-child(4) {
      span {
        text-transform: uppercase;

        &:last-child {
          &::after {
            content: '';
          }
        }

        &::after {
          content: ' | ';
        }
      }
    }

    li:last-child {
      text-transform: none;
    }
  }

  /* bottom part of right side - system specs */
  &-specs {
    padding: 20px;
    border-radius: 6px;
    
    color: white;
    background: var(--color-backgrounds);
    margin-bottom: 0;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2px;
    }

    ul {
      height: 70px;
      display: none;

      justify-content: space-between;
      flex-direction: column;
      flex-wrap: wrap;

      li {
        width: 50%;
        white-space: nowrap;
      }

      small {
        color: var(--color-primary);
      }
    }

    .active {
      display: flex;
    }
  }

  &-icon {
    position: absolute;
    right: 0;
    svg {
      font-size: 96px;
    }
  }
}