@use "style/abstract/mixins" as mix;

.details {
  font-family: var(--font-details);

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 0 1.75rem;
  line-height: 1.2;

  @include mix.mobile {
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }

  aside {
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    @include mix.mobile {
      width: 19rem;
    }
  }

  header {
    position: relative;
    margin-bottom: 0.63rem;
  }

  main {
    section {
      margin-bottom: 1.2rem;
    }
  }

  footer {
    padding: 1.25rem;
    background: var(--color-backgrounds);
    color: var(--color-details-dark-bg);
    border-radius: 0.8rem;
    align-self: end;
  }

  /* Aside */
  &__picture {
    width: 19rem;
    height: 27rem;
    border-radius: 0.8rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__download {
    height: 3.5rem;
    font: 1.43rem var(--font-details);

    border-radius: 0.8rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @include mix.mobile {
      margin-bottom: 1rem;
    }
  }

  /* Header */
  &__heading {
    font-family: var(--font-default);
    line-height: 1;

    span {
      font-size: 1.69rem;
      margin-left: 0.38rem;
      color: var(--color-primary);
    }

    &--big {
      font-size: 2.5rem;
    }

    &--small {
      font-size: 1.56rem;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;

    @include mix.mobile {
      top: 2rem;
    }

    svg {
      font-size: 6rem;
    }
  }

  /* Main */
  &__paragraph {
    font-size: 1.13rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-size: 1.25rem;

    span {
      font-size: 1.13rem;
      margin-left: 0.25rem;
    }

    &--secondary {
      display: none;
      flex-wrap: wrap;
      height: 4.8rem;
      gap: 0.125rem;

      @include mix.mobile {
        height: auto;
      }

      li {
        width: 50%;
        white-space: nowrap;
        color: var(--color-primary);

        @include mix.mobile {
          width: auto;
          white-space: initial;
        }
      }

      span {
        color: var(--color-details-dark-bg);
      }
    }

    &--active {
      display: flex;
    }
  }

  /* Helper Classes */
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mix.mobile {
      align-items: flex-start;
      flex-direction: column;
      gap: 0.3rem;
      margin-bottom: 0.3rem;
    }
  }

  &__comma {
    &:last-child {
      &::after {
        content: "";
      }
    }

    &::after {
      content: ",";
    }
  }

  &__bar {
    text-transform: uppercase;

    &:last-child {
      &::after {
        content: "";
      }
    }

    &::after {
      content: " | ";
    }
  }
}
